/* reset default styles for body and div elements */
body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: aquamarine;
  }

  header  p, .right {
    color: aquamarine;
  }
  div.box {
    box-sizing: border-box;
  }
  
  /* style the header and footer */
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
h1 {
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;  

}

button {
  font-size: 2.5rem;
}

  h1{
    margin: 0;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }

  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  /* style the box container and boxes */
  .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  .box {
    color: #db3eb1;
    border: 6px solid #db3eb1;
    filter: drop-shadow(0 0 10px #db3eb1) drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(1);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    height:2.5em;
    text-align: center;
    width: 3em;
    margin-top: 1rem;
  }
  

  
.left {
  max-width: 30vw;
}

.message {
  margin-top: 4em;
}

  header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
  .clicked::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 3rem;
  }
  
  .grid{
    display: grid;
    margin: 1rem auto;
    width: 90%;
    grid-template-columns: 1fr 1fr fit-content;
    grid-template-rows: 16em 1fr;
  }
  
  .clicked.clicked::after {
    content: attr(data-random);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 00%);
    color: #fff;
    border-radius: 50%;
  }

  .clicked {
    background-color:#db3eb1;
    color: white;
    border: none;
    position: relative;

  }
  
  .button {
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 30px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    transition: .5s;
    margin-bottom: 1em;
  }
  
  .button:hover {
    color: black;
    background-color: #db3eb1;
    filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  }